BR2_mipsel=y
BR2_TOOLCHAIN_BUILDROOT_MUSL=y
BR2_KERNEL_HEADERS_6_6=y
BR2_GCC_VERSION_15_X=y
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_GIT=y
BR2_LINUX_KERNEL_CUSTOM_REPO_URL="https://github.com/OnionIoT/linux-stable.git"
BR2_LINUX_KERNEL_CUSTOM_REPO_VERSION="openwrt-6.6.93"
BR2_LINUX_KERNEL_DEFCONFIG="omega2p"
BR2_LINUX_KERNEL_DTS_SUPPORT=y
BR2_LINUX_KERNEL_DTB_IS_SELF_BUILT=y
